body{
  margin-top: -20px;
}
.main1{
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("../image/back_book3.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us-container{
  display: block;
}

.image-container{
  margin-top: 100px;
  float: left;
  display: inline-block;
  border-radius: 50%;
  padding: 15px;
  width: 30%;
  align-items: center;
}

.image-container img{
  background-size: cover;
  width: 90%;
  border-radius: 250px;
}

.about{
  float: right;
    display: inline-block;
    background-color: rgb(225, 225, 225);
    opacity: 70%;
    width: 700px;
    color: rgb(2, 2, 2);
    padding: 50px;
    border-radius: 15px;
    transform: translateY(-250px);
    margin-top: 500px;
    margin-right: 60px;
}
h1{
    font-size: 30px;
    text-align: center;
}
p{
    font-size: 20px;
}
/*---------------------------------------------------------------------------------------*/
.about_us{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.about_us h1{
  font-size: 36px;
  font-weight: 600;
}
.about_us p{
  color: #777;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.content{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  
}
.content a{
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.about_us h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.content:hover{
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);

     background: white;
     font-size: 20px;
     margin-top: -1px;
}
.content a:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);

     background: white;
     font-size: 22px;
     margin-top: -1px;

}
#list a:hover{
    font-size: 30px;
     margin-top: -1px;
}

@media(max-width: 700px) {
  .row{
    flex-direction: column;
  }
}
/*------------------------------------------------------------------------------------*/

