body{
    background-color: bisque;
    overflow-x: hidden;
}
.container{
    display: block;
    margin: 0 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page-title{
    margin: 30px;
    text-align: center;
}

.book-card{
    background-color: #fff;
    height: 350px;
    min-width: 190px;
    max-width: 210px;
    text-align: center;
    border-radius: 10px;
    padding-top: 1em;
    cursor: pointer;
    margin-bottom: 15px;
}

.book-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 0 50px;
    justify-items: center;
}

.cover-container{
    height: 200px;
    padding: 10px;
}

.cover-container img{
    max-width: 100%;
    height: 100%;
}

.title{
    font-size: 20px;
    font-weight: bold;
    margin: 5px 5px;
}

.author{
    font-style: italic;
    margin: 5px 5px;
}

.genre{
    font-size: smaller;
    margin-top: 17px;
}

.book-card:hover{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
}

.search-container{
    margin: 15px 0;
    text-align: center;
}

.search-container .btn{
    border: 0;
    padding: 10px;
    font-size: 15px;
    background-color:chocolate;
    color: #fff;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.search-container .search-box{
    border: 0;
    margin: 0 5px;
    padding: 10px;
    font-size: 15px;
    color: #000;
    border-radius: 8px;
}



@media(max-width: 950px){
    .book-container{
        grid-gap: 20px;
        padding: 0 10px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 670px){
    .book-container{
        grid-gap: 20px;
        padding: 0 20px;
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 400px){
    .book-container{
        grid-template-columns: 1fr;
    }
}