body {
    background: url("resources/images/backlib.jpg") !important;
}

.main {
    color: bisque;
    margin: 0px;
}

.main h2 {
    text-align: center;
}

.main img {
    width: 100px;
    height: 200px;
}

.main .goto {
    width: 250px;
    height: 200px;
    margin: 10 20px;
    background-color: rgba(3, 3, 77, 0.7);
    border-radius: 10px;
}

.main .goto .li ul li a {
    display: inline-flex;
    display: block;
}

.b1,
.b2,
.b3 {
    float: left;
    width: 26%;
    padding: 50px;
}

.Phil::after,
.Bio::after,
.Phy::after {
    content: "";
    clear: both;
    display: table;
}

.books {
    margin-top: 100px;
}

h4 {
    color: tomato;
}

.goto a {
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    color: white;
}


/* mouse over link */

.goto a:hover {
    transition: 0.5s;
    color: black;
    text-decoration: underline;
}