
.formBox {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  width: 300px;
  height: auto;
  border: 2px solid #c99609f3;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}
.formBox .formTitle {
  height: 40px;
  text-align: center;
  color: white;
  background-color: #c99609f3;
}
.formBox .form_input {
  padding: 10px 20px;
}
.formBox .form_input input{
  height: 30px;
  margin-bottom: 8px;
  width: 100%;
  outline: none;
  border: 1px solid;
  border-radius: 4px;
  font-size: 14px;
  padding-left: 10px;
}
.formBox .submit_btn{
  text-align: center;
  padding: 10px 20px;

}
.formBox .submit_btn input{
  height: 30px;
  width: 40%;
  margin: 5px;
  background-color: #c99609f3;
  color: #fff ;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.4s;
}

.formBox .submit_btn input:hover{
  background-color: #fff;
  color: #000;
  border: 1px solid;
}
