* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../resources/images/pexels-ann-h-1762851.jpg");
    background-position: center;
    background-size: cover;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: right;
}
.home_content {
    background: rgba(7, 231, 164, 0.7);
    padding-left: 20px;
    margin-top: 200px;
    margin-right: 500px;
    margin-left: 20px;
    border-radius: 15px;
    position: absolute;
    opacity: 60%;
}
.text{
    color: #000;
    opacity: 100%;
}
.home_content h1 {
    font-size: 50px;
    color: #080808;
}

.home_content p {
    font-size: 23px;
    margin-top: 15px;
    line-height: 30px;
    color: rgb(0, 0, 0);
}

.home_content .cn {
    width: 160px;
    height: 40px;
    background: #c99609f3;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    color: #fff;
}

.home_content a {
    color: #fff;
    text-decoration: none;
    transition: .3s ease;
}

.cn:hover {
    background-color: #585252;
}

.contains{    
    width: 350px;
    height: 500px;
    position: relative;
    float: right;
    border-radius: 10px;
    top: 15%;
    right: 50px;
    margin-bottom: 100px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.36);
    perspective: 1000px;
    overflow: hidden;
    overflow-y: scroll;
    
}
.forms{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d ;
    transition: transform 1s;
    
}

.form1, .form2{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 1);
    background-size: cover;
    padding: 7%;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 890px;
    box-sizing: border-box;
    backface-visibility: hidden;
}
.form2{
    transform: rotateY(180deg);
    
}

.login_icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h2 {
    text-align: center;
    color: #c99609f3;
    font-size: 22px;
    border-radius: 10px;
    margin-top: 20px;
    padding: 8px;
    margin-bottom: 10px;
}


.form1 input {
    width: 100%;
    height: 35px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #e48d0af3;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 20px;
}
.input input{
    width: 100%;
    height: 35px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #e48d0af3;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 20px;
}
.radio_btn{
    color: white;
}
.radio_btn input{
    font-size: 14px;
    margin-right: 8px;
    margin-left: 15px;
    padding-left: 5px;

}
.radio_btn input:checked:after {
    width: 10px;
    height: 10px;
    background-color: blue;
    content: '';
    display: inline-block;
    border: 2px solid white;
    border-radius: 15px;
}
.input{
    justify-content: left;
    color:#fff;
}
.input2 input{
    float: right;
    height: 30px;
    margin-bottom: 15px;
    width: 50%;
    outline: none;
    border: 1px solid;
    border-radius: 4px;
    font-size: 14px;
}
.input2 select{
    display: inline-block;
     float: right;
    height: 30px;
    margin-bottom: 15px;
    width: 50%;
    outline: none;
    border: 1px solid;
    border-radius: 4px;
    font-size: 14px;
}
.input2{
    align-items: center;
    color: #fff;
}
.form1 input:focus {
    outline: none;
}

.btn_login {
    
    width: 100%;
    height: 40px;
    background: #c99609f3;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    color: #fff;
    transition: 0.4s ease;
}

.btn_login:hover {
    background: #fff;
    color: #ff7200;
}

.btn_login a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}


.form1 a{
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    margin-top: 30px;
}

.form1 a:hover {
    color: #e48d0af3;
}

::placeholder {
    color: #fff;
}
.btn{
    color: white;
}
.btn:hover{
    color: rgb(110, 110, 247);

}
button{
    width: 100%;
    background: transparent;
    color: white;
    border: 1px solid #fff;
    margin: 35px 0 10px;
    height: 32px;
    font-size: 12px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;

}
.submit_btn1:hover{
    background-color: #ff7200;
}
.submit_btn1, .submit_btn2{
    display: inline-block;
    width: 45%;
    background: transparent;
    color: white;
    border: 1px solid #fff;
    margin: 35px 0 10px;
    height: 32px;
    font-size: 12px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;    
}
.submit_btn1{
    float: left;
    margin-right: 1px;
}
.submit_btn2{
    float: right;
}
.submit_btn2:hover{
     background-color: #ff7200;
}

