.signUp_form {
    background: rgba(0, 0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 300px;
    height: auto;
    border: 2px solid #c99609f3;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.signUp_form .form_input {
    padding: 10px 20px 10px 20px;
    margin-left: -1px;
}

.signUp_form .form_title {
    width: 300px;
    border-bottom: 1px solid #c99609f3;
    text-align: center;
    color: white;
    background-color: #c99609f3;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

.signUp_form .input input {
    height: 30px;
    margin-bottom: 15px;
    width: 100%;
    outline: none;
    border: 1px solid;
    border-radius: 4px;
    font-size: 14px;
    padding-left: 10px;
}

.signUp_form .submit_btn {
    text-align: center;
}

.signUp_form .submit_btn input {
    height: 30px;
    width: 40%;
    margin: 5px;
    background-color: #c99609f3;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: 0.4s;
}

.signUp_form .submit_btn input:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid;
}

.signUp_form .radio_btn input {
    font-size: 14px;
    margin-right: 8px;
    margin-left: 15px;
    padding-left: 5px;
    color: blue;
}

.signUp_form .radio_btn input:checked:after {
    width: 10px;
    height: 10px;
    background-color: #c99609f3;
    content: '';
    display: inline-block;
    border: 2px solid white;
    border-radius: 15px;
}